<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div>111111</div>
		<div>222222</div>
		<div>111111</div>
		<div>222222</div>
		<div>333333</div>
		<div>555555</div>
		<div>6666666</div>
		<div><%- htmlWebpackPlugin.options.name %></div>
		<div id="root"></div>
	</body>
</html>
