<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div>111111</div>
		<div>222222</div>
		<div>111111</div>
		<div>222222</div>
		<div>333333</div>
		<div><%- htmlWebpackPlugin.options.name %></div>
		<div id="root"></div>
	</body>
</html>
